<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>

{{- with .Description }}
<meta name="description" content="{{ . }}">
{{- end }}

{{- with .GetTerms "authors" }}
  {{- range . }}
    <meta name="author" content="{{ .LinkTitle }}">
  {{- end }}
{{- end }}

{{- with .Params.tags }}
  <meta name="keywords" content="{{ delimit . ", " }}">
{{- end }}

{{- with .Params.featuredImage }}
  {{- with resources.Get . }}
    <meta data-pagefind-meta="image[content]" name="featuredimage" content="{{ .RelPermalink  }}">
  {{- end }}
{{- end }}

{{- with (templates.Defer (dict "key" "global")) -}}
  {{- partial "head/css.html" . -}}
{{- end -}}
