<a class="flex flex-col p-4 rounded-xl bg-base-100 shadow-md" href="{{ .RelPermalink }}">
  <div class="flex w-full">
    <div class="flex-1 self-center">
      <h2 class="text-xl font-bold">{{ .Title }}</h2>
      {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
      {{ $dateHuman := .Date | time.Format ":date_long" }}
      <time datetime="{{ $dateMachine }}" class="text-sm italic">{{ $dateHuman }}</time>
    </div>
    {{ with .Param "featuredImage" }}
      {{ with resources.Get . }}
        {{ $image := . }}
        {{ if ne .MediaType.SubType "svg" }}
          {{ $image := .Process "fit 128x128" }}
        {{ end }}

        <figure class="">
          <img src="{{ $image.RelPermalink }}" class="h-24" />
        </figure>
      {{ end }}
    {{ end }}
  </div>
  <div class="prose-sm max-w-none">
    {{ .Summary | plainify }}
  </div>
</a>
