{{- $page := .page -}}

{{- with $page -}}
  <div class="flex flex-col mb-2">
    <h2 class="mb-1">
      <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
    </h2>
    {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
    {{ $dateHuman := .Date | time.Format ":date_long" }}
    <time datetime="{{ $dateMachine }}" class="italic">{{ $dateHuman }}</time>
  </div>

  <article class="">
    {{ with .Param "featuredImage" }}
      {{ with resources.Get . }}
        {{ $image := . }}
        {{ if ne .MediaType.SubType "svg" }}
          {{ $image := .Process "fit 128x128" }}
        {{ end }}

        <figure class="float-left mr-4">
          <img src="{{ $image.RelPermalink }}" width=128 height=128 class="bg-stone-400 dark:bg-stone-300 rounded-lg p-1">
        </figure>
      {{ end }}
    {{ end }}

    {{ .Summary }}
  </article>
{{ else }}

{{ end }}
