{{- /*
For a given taxonomy, renders a list of terms assigned to the page.

@context {page} page The current page.
@context {string} taxonomy The taxonomy.

@example: {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
*/}}

{{- $page := .page }}
{{- $taxonomy := .taxonomy }}

{{- with $page.GetTerms $taxonomy }}
  {{- $label := (index . 0).Parent.LinkTitle }}
  <div class="join join-horizontal gap-2">
    <span class="join-item self-center text-sm font-bold">{{ $label }}:</span>
    {{- range . }}
    <a href="{{ .RelPermalink }}" class="join-item">
      <button class="btn btn-sm btn-soft btn-secondary">{{ .LinkTitle }}</button>
    </a>
    {{- end }}
  </div>
{{- end }}
