<div class="grid grid-cols-1 not-prose min-w-full">
  <h1 class="text-center text-3xl md:text-4xl lg:text-5xl font-extrabold text-secondary pt-8 pb-4">{{ .Title }}</h1>
  {{ with .Params.subtitle -}}
    <h2 class="justify-self-center text-lg md:text-xl font-light text-secondary italic opacity-70 mb-4">{{ . }}</h2>
  {{- end }}
  {{ if (not .IsNode) -}}
    <div class="flex flex-wrap justify-around text-base mb-4">
      {{- $datetime := .Date | time.Format "2001-02-03" -}}
      <div class="opacity-60 italic px-4">
        <span>Written:</span>
        <time data-pagefind-meta="date[datetime]" datetime="{{ $datetime }}">
          {{ .Date | time.Format ":date_long" }}
        </time>
      </div>
      {{- $lastmodDatetime := .Lastmod | time.Format "2001-02-03" -}}
      {{- if ne $datetime $lastmodDatetime -}}
        <div class="opacity-60 italic">
          <span>Last Modified:</span>
          <time datetime="{{ $datetime }}">
            {{ .Lastmod | time.Format ":date_long" }}
          </time>
        </div>
      {{- end -}}
    </div>
  {{- end }}
  <hr class="border-t-2 border-secondary/70" />
</div>
