<a class="flex flex-col p-4 rounded-xl bg-base-100 shadow-md" href="{{ .RelPermalink }}">
  <div class="flex w-full gap-4">
    {{ with .Param "featuredImage" }}
      {{ with resources.Get . }}
        {{ $image := . }}
        {{ if ne .MediaType.SubType "svg" }}
          {{ $image := .Process "fit 128x128" }}
        {{ end }}

        <figure class="">
          <img src="{{ $image.RelPermalink }}" class="h-24" />
        </figure>
      {{ end }}
    {{ end }}
    <div class="flex-1 flex flex-col gap-2">
      <div class="flex flex-col gap-0">
        <h2 class="text-xl  font-extrabold">{{ .Title }}</h2>
        {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
        {{ $dateHuman := .Date | time.Format ":date_long" }}
        <time datetime="{{ $dateMachine }}" class="text-sm italic">{{ $dateHuman }}</time>
      </div>
      <div class="prose-sm max-w-none">
        {{ .Summary | plainify }}
      </div>
    </div>
  </div>
</a>
