@font-face {
  font-family: InterVariable;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/inter/InterVariable.woff2") format("woff2");
}

@font-face {
  font-family: InterVariable;
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/inter/InterVariable-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Custom Web";
  font-display: swap;
  font-weight: 100;
  font-stretch: normal;
  font-style: normal;
  src: url("/fonts/iosevka/IosevkaCustom-Thin.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Custom Web";
  font-display: swap;
  font-weight: 100;
  font-stretch: normal;
  font-style: italic;
  src: url("/fonts/iosevka/IosevkaCustom-ThinItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Custom Web";
  font-display: swap;
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  src: url("/fonts/iosevka/IosevkaCustom-ExtraLight.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Custom Web";
  font-display: swap;
  font-weight: 200;
  font-stretch: normal;
  font-style: italic;
  src: url("/fonts/iosevka/IosevkaCustom-ExtraLightItalic.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka Custom Web";
  font-display: swap;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  src: url("/fonts/iosevka/IosevkaCustom-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Custom Web";
  font-display: swap;
  font-weight: 300;
  font-stretch: normal;
  font-style: italic;
  src: url("/fonts/iosevka/IosevkaCustom-LightItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Custom Web";
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  src: url("/fonts/iosevka/IosevkaCustom-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Custom Web";
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: italic;
  src: url("/fonts/iosevka/IosevkaCustom-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Custom Web";
  font-display: swap;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  src: url("/fonts/iosevka/IosevkaCustom-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Custom Web";
  font-display: swap;
  font-weight: 500;
  font-stretch: normal;
  font-style: italic;
  src: url("/fonts/iosevka/IosevkaCustom-MediumItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Custom Web";
  font-display: swap;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  src: url("/fonts/iosevka/IosevkaCustom-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Custom Web";
  font-display: swap;
  font-weight: 600;
  font-stretch: normal;
  font-style: italic;
  src: url("/fonts/iosevka/IosevkaCustom-SemiBoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Custom Web";
  font-display: swap;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  src: url("/fonts/iosevka/IosevkaCustom-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Custom Web";
  font-display: swap;
  font-weight: 700;
  font-stretch: normal;
  font-style: italic;
  src: url("/fonts/iosevka/IosevkaCustom-BoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Custom Web";
  font-display: swap;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  src: url("/fonts/iosevka/IosevkaCustom-ExtraBold.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Custom Web";
  font-display: swap;
  font-weight: 800;
  font-stretch: normal;
  font-style: italic;
  src: url("/fonts/iosevka/IosevkaCustom-ExtraBoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Custom Web";
  font-display: swap;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  src: url("/fonts/iosevka/IosevkaCustom-Heavy.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Custom Web";
  font-display: swap;
  font-weight: 900;
  font-stretch: normal;
  font-style: italic;
  src: url("/fonts/iosevka/IosevkaCustom-HeavyItalic.woff2") format("woff2");
}
