@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes: false;
}
@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(27% 0.01 70);
  --color-base-200: oklch(23% 0.01 70);
  --color-base-300: oklch(19% 0.01 70);
  --color-base-content: oklch(95% 0.01 70);
  --color-neutral: oklch(14% 0.01 70);
  --color-neutral-content: var(--color-base-content);
  --color-primary: oklch(65% 0.18 58);
  --color-primary-content: var(--color-neutral);
  --color-secondary: oklch(65% 0.15 215);
  --color-secondary-content: var(--color-neutral);
  --color-accent: oklch(65% 0.3 280);
  --color-accent-content: var(--color-neutral);
  --color-info: oklch(70% 0.2 260);
  --color-info-content: var(--color-neutral);
  --color-success: oklch(70% 0.15 160);
  --color-success-content: var(--color-neutral);
  --color-warning: oklch(80% 0.2 85);
  --color-warning-content: var(--color-neutral);
  --color-error: oklch(60% 0.2 30);
  --color-error-content: var(--color-neutral);
  --radius-selector: 0.25rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(93% 0.01 70);
  --color-base-200: oklch(90% 0.01 70);
  --color-base-300: oklch(87% 0.01 70);
  --color-base-content: oklch(5% 0.01 70);
  --color-neutral: oklch(82% 0.01 70);
  --color-neutral-content: var(--color-base-content);
  --color-primary: oklch(62% 0.18 58);
  --color-primary-content: var(--color-base-100);
  --color-secondary: oklch(58% 0.15 215);
  --color-secondary-content: var(--color-base-100);
  --color-accent: oklch(55% 0.25 280);
  --color-accent-content: var(--color-base-100);
  --color-info: oklch(60% 0.2 260);
  --color-info-content: var(--color-base-100);
  --color-success: oklch(55% 0.18 160);
  --color-success-content: var(--color-base-100);
  --color-warning: oklch(63% 0.21 85);
  --color-warning-content: var(--color-base-100);
  --color-error: oklch(48% 0.2 30);
  --color-error-content: var(--color-base-100);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@source "hugo_stats.json";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@custom-variant current (&:where(.current, .current *));

@import "fonts.css";

@theme {
  --font-primary: InterVariable, ui-sans-serif, system-ui, sans-serif;
  --font-mono: "Iosevka Custom Web", ui-monospace, monospace;
}

@layer base {
  html[data-theme="light"] .highlight {
    @import "./syntax-light.css";
  }

  html[data-theme="dark"] .highlight {
    @import "./syntax-dark.css";
  }

  svg {
    fill: currentColor;
  }

  .highlight {
    overflow-x: auto;
    background-size: cover;
  }

  pre.chroma {
    width: fit-content;
    min-width: 100%;
    padding: calc(var(--spacing) * 4);
    margin: 0;
    border-radius: var(--radius-xl);
  }
}

@layer components {
  .group-text-label {
    font-size: 14px;
  }

  .node-text-label {
    font-size: 14px;
    dominant-baseline: middle;
  }

  .subflow-node-text-label {
    color: rgb(85, 85, 85);
    dominant-baseline: middle;
    font-size: 10px;
    line-height: 20px;
    pointer-events: none;
    text-anchor: middle;
    user-select: none;
  }

  .subflow-node-text-label-number {
    color: rgb(85, 85, 85);
    dominant-baseline: middle;
    font-size: 16px;
    line-height: 20px;
    pointer-events: none;
    text-anchor: middle;
    user-select: none;
  }

  .flow-download-link {
    font-size: 70%;
  }

  .flow-copy-to-clipboard-link {
    font-size: 70%;
  }

  .node {
    fill-opacity: 1;
    stroke-width: 1px;
  }

  .link {
    stroke: #999;
    stroke-width: 3;
    fill: none;
  }

  .link-highlight,
  .node-highlight {
    stroke: rgb(255, 127, 14);
  }
  .node-highlight {
    stroke-width: 3px;
  }

  .node-disabled {
    stroke-dasharray: 8, 3;
    fill-opacity: 0.5;
  }

  .group-highlight {
    stroke: rgb(255, 127, 14);
    stroke-width: 4px;
    fill: rgb(255, 127, 14);
    fill-opacity: 0.2;
  }

  .link-disabled {
    stroke-dasharray: 10, 8 !important;
    stroke-width: 2 !important;
    stroke: rgb(204, 204, 204);
  }

  .grid-line {
    shape-rendering: auto;
    stroke: var(--color-base-content);
    stroke-width: 1px;
    fill: none;
  }
  .output-deco {
    stroke-width: 2px;
    stroke-miterlimit: 4;
  }

  .input-deco {
    stroke-width: 2px;
    stroke-miterlimit: 4;
  }

  .flow-render-error {
    background-color: rgb(54, 52, 52);
    color: rgb(196, 59, 59);
    width: 100%;
  }

  [flowviewer-tab]:first-child {
    border-bottom-left-radius: var(--radius-lg);
  }
  [flowviewer-tab] {
    padding-inline: calc(var(--spacing) * 2);
    padding-block: calc(var(--spacing) * 1);
    box-sizing: border-box;
    display: inline-block;
    border: 3px solid var(--color-accent);
    border-right: none;
    border-top: none;
    background-color: var(--color-base-300);
    max-width: 200px;
    width: 14%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    margin-top: -3px;
    transition: 0.2s background-color;
    cursor: pointer;
  }
  [flowviewer-tab]:last-child {
    border-right: 3px solid var(--color-accent);
    border-bottom-right-radius: var(--radius-lg);
  }
}

@utility direction-ltr {
  direction: ltr;
}

@utility direction-rtl {
  direction: rtl;
}
