@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes: false;
}
@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(27% 0.01 70);
  --color-base-200: oklch(23% 0.01 70);
  --color-base-300: oklch(19% 0.01 70);
  --color-base-content: oklch(95% 0.01 70);
  --color-neutral: oklch(14% 0.01 70);
  --color-neutral-content: var(--color-base-content);
  --color-primary: oklch(65% 0.18 58);
  --color-primary-content: var(--color-neutral);
  --color-secondary: oklch(65% 0.15 215);
  --color-secondary-content: var(--color-neutral);
  --color-accent: oklch(65% 0.3 280);
  --color-accent-content: var(--color-neutral);
  --color-info: oklch(70% 0.2 260);
  --color-info-content: var(--color-neutral);
  --color-success: oklch(70% 0.15 160);
  --color-success-content: var(--color-neutral);
  --color-warning: oklch(80% 0.2 85);
  --color-warning-content: var(--color-neutral);
  --color-error: oklch(60% 0.2 30);
  --color-error-content: var(--color-neutral);
  --radius-selector: 0.25rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(93% 0.01 70);
  --color-base-200: oklch(90% 0.01 70);
  --color-base-300: oklch(87% 0.01 70);
  --color-base-content: oklch(5% 0.01 70);
  --color-neutral: oklch(82% 0.01 70);
  --color-neutral-content: var(--color-base-content);
  --color-primary: oklch(62% 0.18 58);
  --color-primary-content: var(--color-base-100);
  --color-secondary: oklch(58% 0.15 215);
  --color-secondary-content: var(--color-base-100);
  --color-accent: oklch(55% 0.25 280);
  --color-accent-content: var(--color-base-100);
  --color-info: oklch(60% 0.2 260);
  --color-info-content: var(--color-base-100);
  --color-success: oklch(55% 0.18 160);
  --color-success-content: var(--color-base-100);
  --color-warning: oklch(63% 0.21 85);
  --color-warning-content: var(--color-base-100);
  --color-error: oklch(48% 0.2 30);
  --color-error-content: var(--color-base-100);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@source "hugo_stats.json";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@custom-variant current (&:where(.current, .current *));

@import "fonts.css";

@theme {
  --font-primary: InterVariable, ui-sans-serif, system-ui, sans-serif;
  --font-mono: "Iosevka Custom Web", ui-monospace, monospace;
}

@layer base {
  html[data-theme="light"] .highlight {
    @import "./syntax-light.css";
  }

  html[data-theme="dark"] .highlight {
    @import "./syntax-dark.css";
  }

  svg {
    fill: currentColor;
  }

  .highlight {
    overflow-x: auto;
    background-size: cover;
  }

  pre.chroma {
    width: fit-content;
    min-width: 100%;
    padding: calc(var(--spacing) * 4);
    margin: 0;
    border-radius: var(--radius-xl);
  }
}

@utility direction-ltr {
  direction: ltr;
}

@utility direction-rtl {
  direction: rtl;
}
