<!DOCTYPE html>
<html data-theme="light"
      lang="{{ site.Language.LanguageCode }}"
      dir="{{ or site.Language.LanguageDirection `ltr` }}"
      class="antialiased font-primary bg-base-100">
  <head>
    {{ partial "head.html" . -}}
    {{ block "head" . }}{{ end -}}
  </head>
  <body>
    {{ partial "header.html" . -}}
    {{ block "main" . }}{{ end -}}
    {{ partialCached "footer.html" . -}}
    {{ partialCached "js/theme.html" . -}}
    {{ partialCached "js/search.html" . -}}
    {{ partialCached "js/codeblock.html" . -}}
    {{- if .HasShortcode "node-red-flow" }}
      {{ partialCached "js/node-red-flow.js" . }}
    {{ end }}
  </body>
</html>
