{{- define "main" -}}
<div data-pagefind-ignore="all"
     class="place-self-center flex flex-col items-center gap-4 w-full max-w-4xl bg-base-100 p-8 rounded-2xl">
  {{ partial "title.html" . -}}

  <div class="prose md:prose-lg">
    {{ .Content }}
  </div>

  <div class="collapse collapse-arrow bg-base-200 rounded-2xl">
    <input type="checkbox" checked />
    <div class="collapse-title text-secondary text-3xl font-bold pl-8">Documentation</div>
    <div class="collapse-content flex flex-col items-center gap-4">
      <ul class="menu menu-lg w-full">
        {{- with .GetPage "/docs" -}}
          {{ partial "sidebar/sections.html" . }}
        {{- end -}}
      </ul>
    </div>
  </div>

  <div class="collapse collapse-arrow bg-base-200 rounded-2xl">
    <input type="checkbox" checked />
    <div class="collapse-title text-secondary text-3xl font-bold pl-8">Recent Posts</div>
    <div class="collapse-content flex flex-col items-center gap-4">
      {{ with first 10 (where .Site.RegularPages "Section" "posts") -}}
        {{ partial "section/list-all.html" . -}}
      {{ end -}}
    </div>
  </div>
</div>
{{ end -}}
