{{- define "main" -}}
<div data-pagefind-ignore="all" class="place-self-center flex flex-col items-center gap-8 w-full max-w-4xl bg-base-200 p-8 rounded-2xl">
  {{ partial "title.html" . -}}

  <div class="prose md:prose-lg">
    {{ .Content }}
  </div>

  <ul class="menu menu-lg w-full bg-base-300 rounded-xl">
    <li>
      <h2 class="menu-title text-base-content text-3xl font-bold opacity-60">Documentation</h2>
      <ul>
        {{- with .GetPage "/docs" -}}
          {{ partial "sidebar/sections.html" . }}
        {{- end -}}
      </ul>
    </li>
  </ul>

  <div class="collapse collapse-arrow bg-base-300">
    <input type="checkbox" checked />
    <div class="collapse-title text-3xl font-bold pl-8 opacity-60">Recent Posts</div>
    <div class="collapse-content flex flex-col items-center gap-4">
      {{ with first 10 (where .Site.RegularPages "Section" "posts") -}}
        {{ partial "section/list-all.html" . -}}
      {{ end -}}
    </div>
  </div>
</div>
{{ end -}}
