{{- define "head" }}
  {{- with .GetTerms "authors" }}
    {{- range . }}
      <meta name="author" content="{{ .LinkTitle }}">
    {{- end }}
  {{- end }}
  {{- with .Params.tags }}
    <meta name="keywords" content="{{ delimit . ", " }}">
  {{- end }}
  {{- with .Params.featuredImage }}
    {{- with resources.Get . }}
      <meta data-pagefind-meta="image[content]" name="featuredimage" content="{{ .RelPermalink  }}">
    {{- end }}
  {{- end }}
{{- end }}

{{- define "main" }}
  <div data-pagefind-filter="section:posts"
       class="flex flex-col items-center gap-8 w-full max-w-4xl bg-base-100 prose md:prose-lg px-8">
    {{ partial "title.html" . }}

    {{- with .Params.quote }}
      <div data-pagefind-ignore="all" class="">
        <blockquote>
          <p>{{ .text }}</p>
          <footer class="text-right">-<cite>{{ .author }}</cite></footer>
        </blockquote>
      </div>
    {{- end }}

    <article class="max-w-full">
      {{ .ContentWithoutSummary }}
    </article>

    <div data-pagefind-ignore="all" class="not-prose">
      {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
    </div>
  </div>
{{- end }}
