{{- define "main" }}
  {{- $paginator := .Paginate .Pages -}}
  <main data-pagefind-ignore="all"
        class="grid grid-cols-1 grid-rows-[auto_1fr_auto] justify-items-center min-h-dvh pt-12 pb-8">
    <div class="breadcrumbs text-secondary text-2xl md:text-3xl font-extrabold py-8">
      {{- partial "posts/breadcrumbs.html" . }}
    </div>
    {{ .Content }}
    <div class="grid max-w-2xl gap-4">
      {{- partial "section/list-all.html" $paginator.Pages }}
    </div>
    {{- partial "pagination.html" . }}
  </main>
{{- end }}
