{{- define "main" }}
  <div data-pagefind-ignore="all" class="flex flex-col items-center gap-8 w-full max-w-4xl bg-base-100 p-8 rounded-2xl">
    {{- partial "title.html" . }}
    {{- partial "search/bar.html" }}
    <ul search-results search-results-count="10" class="list gap-2 w-full">
      <template search-result>
        {{ partial "search/result.html" }}
      </template>
    </ul>
    <div search-pagination class="flex gap-2">
      <template search-pagination-button>
        <button class="btn btn-sm btn-secondary" type="button"></button>
      </template>
    </div>
  </div>
{{- end }}
